
body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  width: 250px;
  display:block;
  overflow:auto;
  background-color: rgba(0, 0, 0, .05);
  /* max-width: 400px;
  #f8f3de
  max-height: 400px;*/
}
#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}


hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
	width: 100%
}


li {list-style-type: none;}

.caret-right {

    border-bottom: 4px solid transparent;

}

h1, h2, h4, h5 , h6 {
  color:  #808080;
  
}
/* This is for the Statistics Label */
.stats{
	color: #808080;	
	font-weight: bold;
}
.brand {

  text-align: center;
}

.adBlocker {
  text-align: center;
  color: black;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}
h3 {
	font-size: 14px;
	margin-left: 15px;
	
}

.checkbox {
  left: 50px;
}


.btn-group-vertical {
  display: block;
  margin: 10px;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
  .toggle.ios .toggle-handle { border-radius: 20px; }

.main-container {
  height: 25%;
}

.info-container {
  margin: 15px;
  height: 25%;
}
.option-container {
  display:block;
  overflow: hidden;
  height:0px;

    -webkit-transition: height 0.3s ease;
     -moz-transition: height 0.3s ease;
          transition: height 0.3s ease;
  /*visibility: hidden;*/
}

.option-container.open { height: 275px;}

#click-tag {
  left: 120px;
}

.glyphicon {
  font-size: 17px;
}

.carousel-control.left {
  background: none;
}

.carousel-control.right {
  background: none;
}

.infoText {
  text-align: justify;

}
#carouselLeftMove{
	position: fixed;
	
}
.carousel-control {

	
}
.carousel-control .right .glyphicon .glyphicon-share-alt .movement{
		top: 200px;
	
}

.btn-warning {
	
	background-color: #1E90FF;
	border-color: #1E90FF;
	
	
	
}

.btn-warning:hover {
	
	background-color: #2C5197;
	border-color: #2C5197;
	
	
	
}
/*This is to move the Github Logo*/
.logoMove{
	position: relative;    
	top: -2px;
	
}