
body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  width: 240px;
  display:block;
  overflow:auto;
  background-color: #fafafa;
}

#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}


hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 100%
}


li {
  list-style-type: none;
}

.caret-right {

    border-bottom: 4px solid transparent;

}

h1  {
color: #efefef;
}

h2, h4, h5 , h6 {
  color:  #8d8d8d;

}

p {
  font-size: 11px;
  color: #616161;
}
/* This is for the Statistics Label */
.stats{
  color: #808080; 
  font-weight: bold;
}
.brand {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 30px;
  background-color: #373737;
}
.brand-info {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 30px;
  background-color: #373737;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
}
.brand img{
  max-height: 80px;
  text-align: center;
  width: 70%;
  height: auto;
}


.header {
    background-color: #373737;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    height: 85px;
}

.adBlocker {
  text-align: center;
  color: white;
  padding-bottom: 3px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}
h3 {
  font-size: 14px;
  margin-left: 15px;
  
}

.checkbox {
  left: 50px;
}


.btn-group-vertical {
  display: block;
  margin: 10px;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
  .toggle.ios .toggle-handle { border-radius: 20px; }

.main-container {

  height: 25%;
}

.info-container {
  height: 25%;
}

.dropdown-container {

}

.option-container {
  display:block;
  overflow: hidden;
  height:0px;
  -webkit-transition: height 0.25s ease;
  -moz-transition: height 0.25s ease;
  transition: height 0.25s ease;
}

.option-container.open { 
  height: 220px;
}

#click-tag {
  left: 5px;
  top: 1px;
}

.flip{
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.flip.down{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

.icon {
  font-size: 20px;
  margin-top: 8px;
}

.carousel-control.left {
  background: none;
  max-height: 30px;
}

.carousel-control.right {
  background: none;
  max-height: 15%;
}

.infoText {
  margin-top: 4px; 
  text-align: justify;

}
#carouselLeftMove{
  position: fixed;
  
}
.carousel-control {
  text-shadow: 0 2px 5px rgba(0,0,0,1);
}


.option{
 background-color: #90caf9;
}

}
/*This is to move the Github Logo*/
.logoMove{
  position: relative;    
  top: -2px;
  
}

.btn-group {
  padding: 1px;
}



.option-title {
  text-align: center;
  margin: 5px;
}

.statistic-title {
  text-align: center;
  margin: 0px;
}

.team-title {
  text-align: left;
}
